{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
{% endblock css %}

{% block body %}
<div id="main">
    <div id="first">
        <h1>
            <center>We only <span style="color:rgb(30, 230, 163)">teach</span><br> what we are really <br>really <span
                    style="font-family: cursive;">good</span> at.</center>
        </h1>
        <center><button>Check Courses-Make an Impact</button></center>
    </div>
    <div id="sub">Get ready to accelerate your <br>
        career with customized courses <br> and leave your mark in tech <br>industry
    </div>
</div>



                                        <!-- DIV 3 -->
<div id="div3">
    <div>
        <h1 class="div3h1">
            <center>25K+</center>
        </h1>
        <p class="div3">Students taught</p>
    </div>
    <div>
        <h1 class="div3h1">
            <center>20K+</center>
        </h1>
        <p class="div3" id="instructor">Instructor</p>
    </div>
    <div>
        <h1 class="div3h1">
            <center>431K+</center>
        </h1>
        <p class="div3">Youtube Subs.</p>
    </div>
</div>


                                        <!-- FIRST VIDEO -->


<div id="vd">
    <h1 id="vd-h1">
        <center>we do whatever it takes to help you <br><span style="color:rgb(19, 195, 136)"><center>understand the concepts.</center></span></center>

    </h1>
    <iframe id="vid" width="920" height="520" src="https://www.youtube.com/embed/60SRAWmMXyc"
        title="You Are Not Yet Ready | Placements | Open Source" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <center><button>Explore free learning</button></center>
</div>



                                        <!-- COURSES OFFERERD  H1 TAG-->
<h1 id="couses-h1">Courses Offered.</h1>






                                        <!--    COURSES OFFERERD  DIV  -->
<div id="courses-offered">
    <div id="first">
        <div id="content-vd">
            <iframe width="377" height="200" id="vd-f" src="https://www.youtube.com/embed/GD0h-bUGHto"
                title="[ Course Launch 🚀 ] Front-End Domination: Create Anything with Code" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <br>
        <div id="content1">
            <h3>Front-End Domination: Create Anything with Code</h3><br>
            <h6 style="background-color: rgba(145, 133, 133, 0.833);width:12%;">HINDI</h6><br>
            <p>Limited Time Discount</p><br>
            <h2>₹4999 <span> </span><strike>₹9999</strike><span> </span> <span style="background-color: rgba(145, 133, 133, 0.833);width:12%;"><small>50% OFF</small></span></h2>
            <button>View Details</button>
        </div>
    </div><br>
    <div id="second">
        <div id="content-vd">
            <iframe width="377" height="200" id="vd-s" src="https://www.youtube.com/embed/7GssthztFZs" title="Backend Domination | Complete Course | Sheryians" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
        <br>
        <div id="content2">
            <h3>Back-End Domination: Create Efficient Back-End.</h3><br>
            <h6 style="background-color: rgba(145, 133, 133, 0.833);width:12%;">HINDI</h6><br>
            <p>Limited Time Discount</p><br>
            <h2>₹5999 <span> </span><strike>₹11999</strike><span> </span> <span style="background-color: rgba(145, 133, 133, 0.833);width:12%;"><small>50% OFF</small></span></h2>
            <button>View Details</button>
        </div>
    </div>

    <div id="third">
        <div id="content-vd">
            <iframe width="377" height="200" id="vd-t" src="https://www.youtube.com/embed/DVbvFQ1Awh8" title="Aptitude Reasoning for Campus Placements | Complete Course | Sheryians" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
        <br>
        <div id="content3">
            <h3>Aptitude & Reasoning for Campus Placements</h3><br>
            <h6 style="background-color: rgba(145, 133, 133, 0.833);width:15%;">HINGLISH</h6><br>
            <p>Limited Time Discount</p><br>
            <h2>₹999 <span> </span><strike>₹1500</strike><span> </span> <span style="background-color: rgba(145, 133, 133, 0.833);width:12%;"><small>33% OFF</small></span></h2>
            <button>View Details</button>
        </div>
    </div>

    <div id="fourth">
        <div id="content-vd">
            <iframe width="377" height="200" id="vd-fr" src="https://www.youtube.com/embed/MwSRNygjiKU"  title="Java &amp; DSA Domination | Complete Course | Sheryians" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>        </div>
        <br>
        <div id="content4">
            <h3>Java & DSA Domaination</h3><br>
            <h6 style="background-color: rgba(145, 133, 133, 0.833);width:12%;">HINDI</h6><br>
            <p>Limited Time Discount</p><br>
            <h2>₹4999 <span> </span><strike>₹9999</strike><span> </span> <span style="background-color: rgba(145, 133, 133, 0.833);width:12%;"><small>50% OFF</small></span></h2>
            <button>View Details</button>
        </div>
    </div>

    <div id="fifth">
        <div id="content-vd">
            <iframe width="377" height="200" style="border:none;" id="vd-fv" src="https://www.sheryians.com/courses/courses-details/Three.js%20Domination"></iframe></div>
        <br>
        <div id="content5">
            <h3>Three.js Domination</h3><br>
            <h6 style="background-color: rgba(145, 133, 133, 0.833);width:12%;">HINDI</h6><br>
            <p>Limited Time Discount</p><br>
            <h2>₹2499 <span> </span><strike>₹3500</strike><span> </span> <span style="background-color: rgba(145, 133, 133, 0.833);width:12%;"><small>50% OFF</small></span></h2>
            <button>View Details</button>
        </div>
    </div>
</div>




                                            <!--     COMPANIES   -->

<div id="companies">
    <center>
        <h1 style="letter-spacing: 0.18vw;"> Top <span style="color:rgb(53, 212, 159)">Companies</span> our students <br>working with</h1>
    </center>
    <center><p>
        <img src="{% static 'Netlink-Logo-Color.png' %}" alt="">
        <img src="{% static 'mindtree-removebg-preview.png' %}" alt="">
        <img src="{% static 'walmart-removebg-preview.png' %}" alt="">
    </p></center>
    <center><p>
        <img src="{% static 'rapidops-removebg-preview.png' %}" alt="">
        <img src="{% static 'tcs.png' %}" alt="">
        <img src="{% static 'amazon-removebg-preview.png' %}" alt="">
        <img src="{% static 'wipro.png' %}" alt="">
        <img src="{% static 'GeeksforGeeks.png' %}" alt="">
    </p></center>
    <br>
    <button>Explore Courses</button>
</div>




                                            <!--    FOOTER   -->


<footer>
    <div id="footer">
        <hr>
        <div id="f-footer">
            <div><img style="width:25%" src="{% static 'sheriyan-removebg-preview.png' %}" alt="">
                <p>Let's connect with our socials</p>
                <i class="fa-brands fa-instagram"></i><i class="fa-brands fa-linkedin"></i><i
                    class="fa-brands fa-discord"></i><i class="fa-brands fa-youtube"></i><i
                    class="fa-brands fa-twitter"></i>
            </div>
            <div>
                <h2>COMPANY</h2>
                <h4>About us</h4>
                <h4>Support</h4>
                <h4>Privacy Policy</h4>
                <h4>Terms and Conditions</h4>
                <h4>Pricing and Refund</h4>
                <h4>Hire From Us</h4>
                <h4>Bug Bounty</h4>
            </div>
            <div>
                <h2>COMMUNITY</h2>
                <h4>Inertia</h4>
                <h4>Discord</h4>
            </div>
            <div>
                <h2>Get In Touch</h2>
                <h4>+91 8109161752</h4>
                <h4>+91 9691778470</h4>
                <h4>hello@sheriyans.com</h4>
                <h4>23-b,Indrapuri Sector C,Bhopal(MP),462021</h4>
            </div>
        </div>
        <hr>
        <div id="last">
            <center>
                <h2>Copyrights 2024 SheriyansPvt.Ltd.</h2>
            </center>
            <center>
                <h2>All Rights Reserved</h2>
            </center>
        </div>
    </div>
</footer>
{% endblock body %}